In [2]:
import pandas as pd
import numpy as np

A dataframe is a table

In [5]:
A = pd.DataFrame({'Dog':[2, 4], 'Cat':[6,8]}, index = ['breakfast','lunch'])

In [6]:
A

           Dog  Cat
breakfast    2    6
lunch        4    8

A series is a sequence of data values

In [7]:
B = pd.Series([82, 20, 50, 20],name = 'Random_numbers')

In [8]:
B

0    82
1    20
2    50
3    20
Name: Random_numbers, dtype: int64