In [3]:
import pandas as pd
import numpy as np

In [4]:
animals = pd.DataFrame({'cow':[2, 4, 6, 8], 'cat':[3, 6, 9, 12], 'horse':[4, 8, 12, 16]}, index = ['blue', 'orange', 'green', 'brown'])

In [31]:
danimals =  pd.DataFrame({'cow':[2, 4, 6, 8], 'cat':[3, 6, 9, 12], 'horse':[4, 8, 12, 16]})

In [16]:
df2 = pd.DataFrame({'A': 1.,
   ...:                     'B': pd.Timestamp('20130102'),
   ...:                     'C': pd.Series(1, index=list(range(4)), dtype='float32'),
   ...:                     'D': np.array([3] * 4, dtype='int32'),
   ...:                     'E': pd.Categorical(["test", "train", "test", "train"]),
   ...:                     'F': 'foo'})

In [32]:
danimals

   cow  cat  horse
0    2    3      4
1    4    6      8
2    6    9     12
3    8   12     16

In [38]:
danimals.loc[1:2,'cat']

1    6
2    9
Name: cat, dtype: int64

In [37]:
danimals.iloc[1:2, 1]

1    6
Name: cat, dtype: int64

In [25]:
df2.C[1]

1.0

In [27]:
df2['C'][2]

1.0

In [28]:
df2.loc[1,'A']

1.0

In [29]:
df2.loc[1]

A                      1
B    2013-01-02 00:00:00
C                      1
D                      3
E                  train
F                    foo
Name: 1, dtype: object

A dataframe is a table

In [5]:
A = pd.DataFrame({'Dog':[2, 4], 'Cat':[6,8]}, index = ['breakfast','lunch'])

In [6]:
A

           Dog  Cat
breakfast    2    6
lunch        4    8

A series is a sequence of data values

In [7]:
B = pd.Series([82, 20, 50, 20],name = 'Random_numbers')

In [8]:
B

0    82
1    20
2    50
3    20
Name: Random_numbers, dtype: int64

[] is an indexing operator

In [9]:
C = pd.Series([2, 4, 6, 8, 10], name = "even_numbers")

In [10]:
C

0     2
1     4
2     6
3     8
4    10
Name: even_numbers, dtype: int64

using the indexing operator in a series, you can select a specific row

In [13]:
C[2]

6

You can do the same in a dataframe

In [14]:
A['Dog']['lunch']

4

.iloc uses index-based selection

In [17]:
animals = pd.DataFrame({'cow':[2, 4, 6, 8], 'cat':[3, 6, 9, 12], 'horse':[4, 8, 12, 16]})

In [18]:
animals

   cow  cat  horse
0    2    3      4
1    4    6      8
2    6    9     12
3    8   12     16

In [19]:
animals.iloc[0]

cow      2
cat      3
horse    4
Name: 0, dtype: int64

It goes by row first, then column

In [21]:
animals.iloc[:,1]

0     3
1     6
2     9
3    12
Name: cat, dtype: int64

In [23]:
animals.iloc[1:3,1]

1    6
2    9
Name: cat, dtype: int64

The .loc operator is label based selection

iloc uses the Python stdlib indexing scheme, where the first element of the range is included and the last one excluded. 
So 0:10 will select entries 0,...,9. loc, meanwhile, indexes inclusively. So 0:10 will select entries 0,...,10.

We can use conditional arguments inside the .loc operator. The below finds a row where the field in the 'cow' column is equal to 4

In [25]:
animals.loc[animals.cow == 4]

   cow  cat  horse
1    4    6      8